<section class="container mx-auto px-6 py-16"></section>
			<h2 class="text-4xl font-bold text-center text-blue-600 mb-12">
				What Our Clients Say
			</h2>
			<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
				<div class="bg-white p-6 rounded-xl shadow-md">
					<p class="italic mb-4">
						"Exceptional service and top-quality parts!"
					</p>
					<div class="flex items-center">
						<img
							src="./assets/profile-1.jpg"
							class="rounded-full mr-4 size-20"
						/>
						<div>
							<h4 class="font-bold">John Doe</h4>
							<p class="text-gray-600">CEO, Tech Innovations</p>
						</div>
					</div>
				</div>
				<div class="bg-white p-6 rounded-xl shadow-md">
					<p class="italic mb-4">
						"Fast and reliable service, highly recommend!"
					</p>
					<div class="flex items-center">
						<img
							src="./assets/profile-2.jpg"
							class="rounded-full mr-4 size-20"
						/>
						<div>
							<h4 class="font-bold">Jane Smith</h4>
							<p class="text-gray-600">Manager, Creative Solutions</p>
						</div>
					</div>
				</div>
				<div class="bg-white p-6 rounded-xl shadow-md">
					<p class="italic mb-4">"Great experience from start to finish!"</p>
					<div class="flex items-center">
						<img
							src="./assets/profile-3.jpg"
							class="rounded-full mr-4 size-20"
						/>
						<div>
							<h4 class="font-bold">Emily Johnson</h4>
							<p class="text-gray-600">Freelancer</p>
						</div>
					</div>
				</div>
			</div>
		</section>