<div id="mobileMenu" class="sticky fixed top-0 inset-0 bg-white z-60 hidden">
	<div class="flex justify-between p-6">
		<div class="flex items-center space-x-4">
			<img
				src="https://via.placeholder.com/40"
				alt="TechSphere Logo"
				class="rounded-full"
			/>
			<a href="#" ="text-2xl font-bold text-blue-600">TechSphere</a>
		</div>
		<button id="closeMobileMenu" class="text-2xl">
			<i class="fas fa-times"></i>
		</button>
	</div>
	<nav class="flex flex-col space-y-4 p-6">
		<a href="#" class="text-xl">Home</a>
		<a href="./products.html" class="text-xl">Products</a>
		<a href="./services.html" class="text-xl">Services</a>
		<a href="services.html" class="text-xl">About Us</a>
		<div class="border-t pt-4">
			<a href="cart.html" class="block py-2">Cart</a>
			<a href="order.html" class="block py-2">Orders</a>
			<a href="#" class="block py-2">Settings</a>
			<a href="#" class="block py-2">Logout</a>
		</div>
	</nav>
</div>
